@model TherapiCareTest.Models.TherapyProgram

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a asp-controller="CustServices" asp-action="Index" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bolder ms-2">TherapiCare</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
            <a asp-area="CustomerService" asp-controller="CustServices" asp-action="Index" class="menu-link">
                <i class="flex-shrink-0 bx bi bi-chat-dots-fill me-2"></i>
                <div data-i18n="Analytics"> Customer Service Chat</div>
            </a>
        </li>
        <li class="menu-item ">
            <a asp-area="CustomerService" asp-controller="CustomerServices" asp-action="ApproveReport" class="menu-link">
                <i class="flex-shrink-0 bi bi-file-earmark-text-fill me-2"></i>
                <div data-i18n="Analytics"> Report Approval</div>
            </a>
        </li>
        <li class="menu-item active">
            <a asp-area="CustomerService" asp-controller="CustServiceTherapyProgram" asp-action="Index" class="menu-link">
                <i class="flex-shrink-0 bx bx bx-collection me-2"></i>
                <div data-i18n="Analytics"> Manage Program</div>
            </a>
        </li>


    </ul>
</aside>

<!-- / Menu -->
<!-- Navbar -->

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        @* <div class="navbar-nav align-items-center">
        <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search fs-4 lh-0"></i>
        <input type="text"
        class="form-control border-0 shadow-none"
        placeholder="Search..."
        aria-label="Search..." />
        </div>
        </div> *@
        <!-- /Search -->

        <ul class="navbar-nav flex-row align-items-center ms-auto">
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="fw-bold py-3 mb-2">Program</h2>
        </div>
    </div>

<div>
        <table class="table table-bordered table-striped" style="width:100%">
            <tr>
                <th>Name</th>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <th>Objective</th>
                <td>@Html.DisplayFor(model => model.Objective)</td>
            </tr>
            <tr>
                <th>Weekday Price</th>
                <td>@Html.DisplayFor(model => model.WeekdayPrice)</td>
            </tr>
            <tr>
                <th>Weekend Price</th>
                <td>@Html.DisplayFor(model => model.WeekendPrice)</td>
            </tr>
        </table>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
